---
layout: layout
title: Home
---
{% include sidebar-css-center.html %}
<div class="container" style="max-width: 1600px">
  <div class="row">
	  <div class="col-lg-12">
		  <div class="panel panel-default">
			  <div class="panel-body">
				  {% for post in site.posts %}
				  <div class="row">
					  <div class="col-sm-4 col-md-4 col-lg-4 post-date">
						  <h5 style="text-align: right">
							  {{ post.date | date: "%B %e, %Y" }}
						  </h5>
					  </div>
					  <div class="col-sm-8 col-md-8 col-lg-8 post-title">
						  <h5 style="text-align: left">
							  <strong><a class="mainlink" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong>
						  </h5>
					  </div>
				  </div>
				  {% endfor %}
			  </div>
		  </div>
	  </div>
    <!--
    <div class="col-lg-4 col-md-12">
       <h3>Software</h3>
		  <div class="panel panel-default">
			<div class="panel-body">
				{% for post in site.posts %}
					{% if post.tags contains "Software" %}
						<div class="row">
							 <div class="col-sm-4 col-md-4 col-lg-4 post-date">
								 <h5 style="text-align: right">
									{{ post.date | date: "%B %e, %Y" }}
								 </h5>
							 </div>
							 <div class="col-sm-8 col-md-8 col-lg-8 post-title">
								 <h5 style="text-align: left">
									 <strong><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong>
								 </h5>
							 </div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		  </div>
    </div>
    <div class="col-lg-4 col-md-12">
       <h3>Essays</h3>
		  <div class="panel panel-default">
			<div class="panel-body">
				{% for post in site.posts %}
					{% if post.tags contains "Essays" %}
						<div class="row">
							 <div class="col-sm-4 col-md-4 col-lg-4 post-date">
								 <h5 style="text-align: right">
									{{ post.date | date: "%B %e, %Y" }}
								 </h5>
							 </div>
							 <div class="col-sm-8 col-md-8 col-lg-8 post-title">
								 <h5 style="text-align: left">
									 <strong><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong>
								 </h5>
							 </div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		  </div>
    </div>
    <div class="col-lg-4 col-md-12">
       <h3>Miscellanea</h3>
		  <div class="panel panel-default">
			<div class="panel-body">
				{% for post in site.posts %}
					{% if post.tags contains "Misc" %}
						<div class="row">
							 <div class="col-sm-4 col-md-4 col-lg-4 post-date">
								 <h5 style="text-align: right">
									{{ post.date | date: "%B %e, %Y" }}
								 </h5>
							 </div>
							 <div class="col-sm-8 col-md-8 col-lg-8 post-title">
								 <h5 style="text-align: left">
									 <strong><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong>
								 </h5>
							 </div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		  </div>
    </div>
    -->
  </div>
</div>
