<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/matthewdowney/TogglPy">TogglPy</a></strong>
            - A python wrapper around the API for the <a href="https://toggl.com/">Toggl</a> time tracker app. Main inspiration for writing this was automating the process of generating & sending out PDF time reports.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/matthewdowney/XChange/tree/develop/xchange-bitcoinde">XChange/bitcoinde</a></strong>
            - A submodule of <a href="https://github.com/timmolter/">timmolter</a>'s <a href="https://github.com/timmolter/XChange/">XChange</a> library that integrates bitcoin exchange <a href="#">bitcoin.de</a>. XChange is a Java library providing a streamlined API for interacting with 50+ Bitcoin and Altcoin exchanges providing a consistent interface for trading and accessing market data.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/Javauto/javauto-core">Javauto</a></strong>
            - A programming language for automation designed as a cross-platform alternative to AutoIT or AutoHotkey. Implemented using source to source compilation&mdash;Javauto code is parsed, verified, & compiled to Java before being packaged into a JAR. I originially wrote this when I was 15, and it's since been picked up by its current maintainer <a href="https://github.com/ohtejera">ohtejara</a>. It also has a <a href="http://javauto-lang.org/">website</a>.
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/matthewdowney/roku">Roku Remote</a></strong>
			- A CLI to connect with and control Roku media players.
		</h5>
    </div>
  </div>
</div>
</section>
