<div class="sidebar">
    <div class="container">
      <div class="row">

		  <div class="col-sm-12 avatar detail">
			  <img class="img-circle" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Profile image">
		  </div>
		  <div class="col-sm-12 align-middle">
			  {% include social.html %}
		  </div>
      </div>
      <div class="desc row">
	<div class="col-sm-12">
          <h3 class="detail">Finance, cryptography, and software (mostly Clojure ATM).</h3>
	  <h3 class="detail">Algo trading & market making @ <a href="https://sixtant.io">sixtant.io</a></h3>
          <h3 class="detail">I also practice <a href="https://www.instagram.com/p/BH-vEYPBTjt/?taken-by=_matthewdowney">parkour</a>.</h3>
		  <h5><a href="mailto:{{ site.email }}">{{ site.email }}</a> | <a href="{{ site.baseurl }}publickey.asc.txt">public key</a></h5>
	</div>
      </div>
    </div>
</div>
