---
---

$white: #ffffff;
$black: #000000;
$dark-grey: #6b6b6b;

$color-main: #194775;
$color-main-dark: #003366;

/* Main page with stikky-footer
-------------------------------------------------- */
code {
  color: #194774;
  background-color: #6b6b6b0a;
}
pre code {
  white-space: pre;
}
html,
body {
  height: 100%;
  background-color: $white;
  font-family: 'Source Sans Pro', sans-serif;
  /* The html and body elements cannot have any padding or margin. */
  border-top: 3px solid $color-main;
}
/* Wrapper for page content to push down footer */
#wrap {
  padding-bottom: 50px;	
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -65px;
  /* Pad bottom by footer height */
  /*padding: 0 0 60px;*/
}

/* Navbar
-------------------------------------------------- */

.navbar-static-top {
  margin-bottom: 10px;
}
.navbar-default {
  background-color: $white;
  border-color: $white;
}
.navbar-default .navbar-brand {
  color: $dark-grey;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: $dark-grey;
}
.navbar-default .navbar-text {
  color: $dark-grey;
}
.navbar-default .navbar-nav > li > a {
  color: $dark-grey;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: $dark-grey;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: $dark-grey;
  background-color: $white;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: $dark-grey;
  background-color: $white;
}
.navbar-default .navbar-toggle {
  border-color: $white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: $white;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: $dark-grey;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: $dark-grey;
}
.navbar-default .navbar-link {
  color: $dark-grey;
}
.navbar-default .navbar-link:hover {
  color: $dark-grey;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $dark-grey;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: $dark-grey;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: $dark-grey;
    background-color: $white;
  }
}

/* For the experience page
-------------------------------------------------- */
span.where {
    font-size: .95em;
    color: darkgray;
    border-left: 1px solid darkgray;
    padding-left: .3em;
    margin-left: .3em;
    font-weight: 300;
}

.text-light {
    color: darkgray;
    font-weight: 300;
}

/* Custom page CSS
-------------------------------------------------- */

.container {
  width: auto;
  max-width: 800px;
  text-align: center;
}
.container .text-muted {
  margin: 20px 0;
}

a.blog-title {
  color: $color-main-dark !important;
}
.container a {
  color: #345f8aab;
}
.container a:hover {
  color: $color-main-dark;
}
p > img {
 max-width: 100%;
 margin-left: auto;
 margin-right: auto;
 display: block;
}
.img-responsive {
 display: block;
 height: auto;
 max-width: 100%;
}
.panel-default h4 {
  text-align: left;
  line-height: 24px;
  font-size: 22px;
}
.panel-default h5 {
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}
.panel-default h6 {
  font-size: 15px;
}
.panel-default h4 a, h5 a {
  color: $color-main;
}
.panel-default h4 a:hover, h5 a:hover {
  color: $color-main-dark;
}
.panel{
  border-style: none;
}
.panel-body {
  padding-top: -10px;
  text-align: left;
}
.social {
  padding-top: 12px;
  word-spacing: 25px;
}
.social h4 > a {
  color: $black;
}
.avatar {
  padding-top: 5%;
}
.avatar .img-circle {
  width: 30%;
}
.blog-post{
  padding-top: 15px;
}
.blog-title{
  padding-top: 2px;
}
.related-posts h4 {
  text-align: center;
}
.page-not-found {
  padding-top: 20%;
}
.disqus {
  padding-bottom: 15px;
}

.blogpost{
  text-align: justify;
  line-height: 30px;
  font-size: 18px;
}

.blogpost p {
  margin: 0 0 25px;
}

.post-date > h5 {
 font-size: 12px;
}

.post-title > h5 {
 font-size: 14px;
}


/* Footer 
-------------------------------------------------- */

.footer {
  text-decoration: none !important;
}
.text-muted {
	color: $dark-grey;
}
div.footer{
  border-bottom: 5px solid $color-main;
}
/* Set the fixed height of the footer here */
/*.footer {
  height: 50px;
  padding-bottom: 15px;
  
}*/
